h1 {
    font-size: 60px;
    background-color: rgb(181, 156, 95);
    color: rgb(44, 114, 139);
    text-align: center;
    font-family: "open sans", arial;
    border: 450, 1000;
}

h2 {
    font-size: 60px;
    font-family: "open sans", sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 200, 0);
    text-align: center;
    border: 450, 1000;
}

h3 {
    font-size: 20px;
    font-family: "open sans", sans-serif;
    text-align: center;
}

fieldset {
    width: 90%;
    margin: auto;
}