.cH1 {
    font-size: 60px;
    background-color: rgb(219, 170, 46);
    color: rgb(44,114,139);
    text-align: center;
    font-family:"open sans",arial;
    border: 450,1000;
    margin: 0;
    borde
}

.cCadEnd {
  /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    display: inline;
     padding: 60px;
     text-align: left;
}

 .cDadosCl {
 	color: black;
  /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 600px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    display: inline;
    background-color:#DAA520;
 }

 .cDadosC2 {
 	color: black;
  /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    display: inline;
    background-color:#DAA520;
 }

table {
    width:600px;
    margin:auto;
    text-align: left;
    background-color:#E8E8E8;
}

.cBair {
	display: inline;
}

.cCep {
	display: inline;
}

.cSenhaP {
	display: inline;
}

.cSenhaC {
	display: inline;
}

.cRua {
	display: inline;
}

