.cH1 {
    font-size: 60px;
    background-color: rgb(219, 170, 46);
    color: rgb(44,114,139);
    text-align: center;
   	font-family:"open sans",arial;
    border: 450,1000;
    padding: 20px
}

.cFielP {
  width: 500px;
  margin-left:0;
  height: 100%;
  display: inline;
  }
